@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    margin-top: 15%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #c05531;
    color: #EEE5E9;
    width: 360px;
    height: 50px;
    border-radius: 40px;
}

main{
    text-align: center;
    background-color: rgba(26, 26, 26, 0.521);
    padding: 83px;
    border-radius: 40px ;
    color: #EEE5E9;
    font-size: xx-large;
    width: 200px;
    backdrop-filter: blur(3px);
}

footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: x-small;
}

button{
    border: none;
    color: #CF5C36;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.1s ease;
}

button:hover{
    border: none;
    color: #CF5C36;
    background-color: #646464;
    border-radius: 10px;
    padding: 10px;
}

button:active {
    padding: 9px;
    box-shadow: inset 0px 3px 10px 0 #000000;
    top: 3px;
}

select{
    border: none;
    color: #CF5C36;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 10px;
}

input{
    border: none;
    color: #CF5C36;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
}

html {
  --s: 50px;
  --c: #000000;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#4d4d4d 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}